
llm/.DS_Store
tools/.DS_Store
.DS_Store
*.pyc
*.pyc
*.pyc
data/buffer_land.cpg
data/buffer_land.dbf
data/buffer_land.prj
data/buffer_land.shp
data/buffer_land.shx
data/buffer_land_mask.tif
data/overlay_result.cpg
data/overlay_result.dbf
data/overlay_result.prj
data/overlay_result.shp
data/overlay_result.shx
data/railway_buffer.cpg
data/railway_buffer.dbf
data/railway_buffer.prj
data/railway_buffer.shp
data/railway_buffer.shx
data/slope.tif
data/slope_10.tif
data/slope_land.tif
