
llm/.DS_Store
tools/.DS_Store
.DS_Store
*.pyc
*.pyc
*.pyc
data/buffer_land.cpg
data/buffer_land.dbf
data/buffer_land.prj
data/buffer_land.shp
data/buffer_land.shx
data/buffer_land_mask.tif
data/overlay_result.cpg
data/overlay_result.dbf
data/overlay_result.prj
data/overlay_result.shp
data/overlay_result.shx
data/railway_buffer.cpg
data/railway_buffer.dbf
data/railway_buffer.prj
data/railway_buffer.shp
data/railway_buffer.shx
data/slope.tif
data/slope_10.tif
data/slope_land.tif
temp/buffered_railway.cpg
temp/buffered_railway.dbf
temp/buffered_railway.prj
temp/buffered_railway.shp
temp/buffered_railway.shx
temp/overlay.cpg
temp/overlay.dbf
temp/overlay.prj
temp/overlay.shp
temp/overlay.shx
temp/overlay_land_railway.cpg
temp/overlay_land_railway.dbf
temp/overlay_land_railway.prj
temp/overlay_land_railway.shp
temp/overlay_land_railway.shx
temp/railway_buffer.cpg
temp/railway_buffer.dbf
temp/railway_buffer.prj
temp/railway_buffer.shp
temp/railway_buffer.shx
temp/railway_overlay_land.cpg
temp/railway_overlay_land.dbf
temp/railway_overlay_land.prj
temp/railway_overlay_land.shp
temp/railway_overlay_land.shx
output/occupied_area.txt
temp/slope_result.tif
temp/raster_overlay_result.tif
temp/overlay_result.shx
temp/overlay_result.shp
temp/overlay_result.prj
temp/overlay_result.dbf
temp/overlay_result.cpg
temp/overlay_mask.tif
temp/extract_values_result.tif
temp/buffer_result.shx
temp/buffer_result.shp
temp/buffer_result.prj
temp/buffer_result.dbf
temp/buffer_result.cpg
output/final_area_result.txt
output/affected_land_area.txt
output/occupied_land_area.json
*.cpg
*.dbf
*.prj
*.shp
*.shx
output/calc_area_result.txt
output/occupied_land_area.txt
